form {
  margin: 20px;
}

.book_search_results {
  display: flex;  
  flex-direction: row;
  flex-wrap: wrap; 
  background-color: white;
  
}

.returned_books {
  flex-basis: 25%;
  display: flex;
  margin: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2em;
  border: double black;
  background-color:	#549077;
  font-style: bold;
  width: 270px;
  min-width: 10rem;
  border-radius: 5px;
  align-items: center;
  color:black;
  /* box-shadow: 0px 0px 8px 1px rgba(91, 99, 102, 0.098); */
}

.save_button {
  background-color: #8bc5df; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 5px black;
  /* font-size: 16px; */
}
